$strava-orange: #f24c03;

.profile-link {
    cursor: pointer;
    font-size: inherit;
    color: #2d2d32;

    &:hover {
        color: #005b83;

        h1,
        h2,
        h3,
        h4 {
            color: #005b83;
        }
    }
}

.dashboard-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #f5f5fa;
    background-size: cover;
    padding-top: 120px;
    min-height: 849px;
}

.user-statistics {
    background-color: #fff;
    width: 17%;
    // height: 291px;
    border-radius: 4px;
    position: fixed;
    left: 15%;
    box-shadow: 0px 8px 24px rgba(13, 13, 18, 0.04);
}

.personal-ads {
    position: fixed;
    right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // width: 240px;
    width: 17%;
    height: 300px;

    p {
        margin: 10px 0 10px 0;
        font-size: 12px;
        line-height: 16px;
        color: rgb(45, 45, 50);
    }

    section {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.185);
        padding-bottom: 10px;
    }
}

.activity-feed {
    background-color: #f5f5fa;
    width: 34%;
    // width: 593px;
    border-radius: 4px;
    float: left;
    // height: 100%;
    height: 1000px;
    overflow: auto;
    box-sizing: border-box;
}

.activity-feed::-webkit-scrollbar {
    display: none;
}

.banner {
    background-color: #f5f5fa;
    background-position-y: -91px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: image-url("hero_banner.png");
    height: 188px;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 27px;
    // box-shadow: 0px 8px 24px rgba(13,13,18,0.04);
}

.user-profile-snippet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-profile-header {
    margin-top: -16px;
    text-align: center;
    margin-bottom: 20px;
    h1 {
        font-size: 22px;
        font-weight: 700;
        color: #2d2d32;
    }
}

.avatar-image {
    position: relative;
    top: -36px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-shadow: 0px 8px 24px rgba(13, 13, 18, 0.16);
    box-shadow: 0px 8px 24px rgba(13, 13, 18, 0.16);
}

.blank {
    background-color: rgb(0, 87, 155);
    display: flex;
    align-items: center;
    justify-content: center;

    .blank-pic {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        font-size: 300%;
        color: white;
    }
}

.personal {
    text-decoration: none;
    color: $strava-orange;

    &:hover {
        color: #bd3902;
    }
}

.total-statistics {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    label {
        font-size: 12px;
        font-weight: 400;
        color: #606065;
        line-height: 1.2;
    }

    .statistic {
        text-align: center;

        h2 {
            padding-top: 5px;
            font-size: 18px;
            font-weight: 400;
            line-height: 1;
        }
    }

    div {
        // margin-top: 20px;
        display: flex;
        justify-content: space-around;
        width: 90%;
        border-bottom: 1px solid #e6e6eb;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}

.github {
    height: 55px;
    width: 55px;
    padding-right: 12px;
}

.linkedin {
    height: 60px;
    width: 60px;
    padding-right: 12px;
}

.dashboard-link {
    display: flex;
    justify-content: space-between;
    width: 80%;
    color: #242428;
    font-size: 13px;

    &:hover {
        color: #007fb6;
        .fa-chevron-right {
            transition: 0.3s;
            margin-left: 5px;
        }
    }
}

.fa-chevron-right {
    transition: 0.3s;
}

.chevron-container {
    width: 20px;
}