.splash {
    text-align: center;
    width: 100%;
    height: 100vh;
    padding-top: 70px;
    background-size: cover;

    .main-container {
        height: 80vh;

        h2 {
            padding-top: 143px;

            font-size: 48px;
            font-weight: 600;
        }
    }
}
