$strava-orange: #f24c03;
$strava-highlight: #fc5200;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: "MaisonNeue", "Segoe UI", "Helvetica Neue", -apple-system, system-ui, BlinkMacSystemFont, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

::selection {
  background: $strava-highlight;
  color: white;
  text-shadow: none;
}

.btn {
    background-color: orangered;
    color: white;
    border-radius: 3px;
    font-size: 11px;
    padding: 9.5px 10px;
    font-weight: 700;
    text-decoration: none;
    -webkit-appearance: none;
    border-style: none;
}

.btn:hover {
    cursor: pointer;
    transition: background-color 300ms;
    background-color: rgb(218, 65, 9);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  // color: red;
  font-size: 15px;
  font-weight: 500;
  opacity: 1; /* Firefox */
}